__internal/
Doc/_Dox/
Doc/_HTMLHelp/
Doc/html/
Doc/chm/
Doc/RefDoc
Doc/_final
Extras/TestCases/
Demos/Bin/_BenchOut/
Scripts/_*
Bin/
Demos/Bin/
Tests/*
Dcu/*

**/__history/**
**/backup/**

*.dproj
*.groupproj

*.dcu
*.ppu
*.dpu
*.dsk
*.~*
*.*~
*.tgs 
*.tgw 
*.identcache 
*.local
*.dcpil
*.bak
*.exe
*.deployproj
*.lps
*.rsm
*.suo
*.vcxproj.user
*.compiled
*.stat
*.tvsconfig
*.otares

Doc/*.chm
Doc/*.chw
Doc/*.html

Demos/**/*.res
Demos/**/*.cfg

Extras/DynamicLib/Demos/Cpp/*/*.bat
Extras/DynamicLib/Demos/Cpp/*/*.sh
Extras/DynamicLib/*.res
Extras/DynamicLib/*.cfg

Packages/*.res
Packages/*.cfg

Source/**/*.hpp
Extensions/**/*.hpp





