# See https://github.com/github/linguist about the linguist attributes.
#
# See https://help.github.com/en/articles/dealing-with-line-endings
# about line endings.
# We expect that you commit text files with Unix line endings to the repository.
# If you work on Windows, you can configure GIT to either automatically convert
# between Windows/Unix on download/upload (so you will see Windows line endings,
# but you will still commit Unix line endings),
# or you can let GIT to preserve line endings from the repository
# (in which case you will see, and commit, Unix line endings;
# make sure that your text editor handles Unix line endings,
# and that you create new lines with Unix line endings).

*.inc linguist-language=Pascal text eol=auto
*.lpr linguist-language=Pascal text eol=auto
*.dpr linguist-language=Pascal text eol=auto
*.pas linguist-language=Pascal text eol=auto

*.lpk text eol=auto
*.xml text eol=auto
*.dpk text eol=auto
*.md text eol=auto

# Even on Windows, shell scripts line endings must be Unix, to work with Cygwin's bash.
*.sh text eol=lf
*gradlew text eol=lf
