# Files ignored by GIT version control

# Build tool (and compiler) temporary output
castle-engine-output

# Unix executable
simplest_manifest_test
# Windows executable
simplest_manifest_test.exe

# May contain secret data (your Android keystore username and password)
AndroidAntProperties.txt
