1 VERSIONINFO
FILEVERSION ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_RELEASE},${VERSION_BUILD}
PRODUCTVERSION ${VERSION_MAJOR},${VERSION_MINOR},${VERSION_RELEASE},${VERSION_BUILD}
FILEOS 0x40004L
// VOS_NT
FILETYPE 0x1L
// VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName", "${AUTHOR}\000"
      VALUE "FileDescription", "${NAME}\000"
      VALUE "FileVersion", "${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_RELEASE}.${VERSION_BUILD}\000"
      VALUE "InternalName", "${NAME}\000"
      VALUE "LegalCopyright", "Copyright ${AUTHOR}\000"
      VALUE "OriginalFilename", "${EXECUTABLE_NAME}.exe\000"
      VALUE "ProductName", "${NAME}\000"
      VALUE "ProductVersion", "${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_RELEASE}.${VERSION_BUILD}\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    // 0x0409 is US English, 1200 is Unicode
    VALUE "Translation", 0x0409,1200
  }
}

1 MANIFEST "castle-automatic-windows.manifest"
