Current Mac OS X port is done with a minimal effort, which means that it uses
X11 compatibility layers:
- X11 (may be found on Mac OS X install CD) (and you should run my programs
  from within X11 xterm, to use your display)
- libpng (installed by fink), if you want to be able to open any
  images/textures etc. stored in PNG images
- When GLWindow uses GTK backend (view3dscene compiled by default script
  does use GTK, "The Castle" compiled by default script doesn't use GTK):
  GTK and GtkGLExt are required (installed by fink)
- OpenAL for game sound (may be downloaded from Creative,
  see download links from www.openal.org) along with
  vorbisfile (installed by fink)

For libs installed by fink, you may have to add them to your libs
path by command like
  export LD_LIBRARY_PATH=/sw/lib:"$LD_LIBRARY_PATH"
before executing them. (of course you can add this to your .bashrc
or whatever).

TODO:
Test OpenAL
  music of "castle hall" and "cages" and "doom" doesn't work ?
  Works on "intro" and "gate" ...
