Library requirements of using my engine on Mac OS X:
- For OpenGL programs, X11 (may be found on Mac OS X install CD)
  (and you should run my programs from within X11 xterm, to use your display).
  This requirement will be removed if at some time I'll implement
  GLWindow unit using some native Mac OS X libraries.
  Contributions are most welcome if you're experienced with programming
  under Mac OS X !
- libpng (installed by fink), if you want to be able to open any
  images/textures etc. stored in PNG images.
- When GLWindow uses GTK backend (view3dscene compiled by default script
  does use GTK, "The Castle" compiled by default script doesn't use GTK):
  GTK and GtkGLExt are required (installed by fink)
- OpenAL for game sound (may be downloaded from Creative,
  see download links from www.openal.org, newer Mac OS X has this
  preinstalled ?) along with vorbisfile (installed by fink)

For libs installed by fink, you may have to add them to your libs
path by command like
  export LD_LIBRARY_PATH=/sw/lib:"$LD_LIBRARY_PATH"
before executing programs. (of course you can add this to your .bashrc
or whatever).
