# ----------------------------------------------------------------------------
# GitHub Action workflow to
#
# - test CGE compilation and automatic tests
# - pack CGE into zip
#
# on platforms for which we use https://github.com/marketplace/actions/arm-runner
# which in practice means: for Raspberry Pi 64-bit and 32-bit.
#
# The intention is to do exactly the same thing as test-and-pack-runner-native.yml,
# but it has to be implemented differently, since the ARM machines are not
# "normal runners" for GitHub Actions. Instead:
# - GitHub Actions runs ubuntu-latest,
# - and inside we use https://github.com/marketplace/actions/arm-runner
# - ... which takes things to do as "commands".
#
# See https://github.com/michaliskambi/test-arm-runner-for-cge/ for repo
# with tests of the arm-runner + CGE.
# ----------------------------------------------------------------------------

name: Test and Pack (ARM Runner)

# Called by everything.yml
on: [workflow_call]
#on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  test_and_pack:
    name: Test and Pack (ARM Runner)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [raspberry-pi-32, raspberry-pi-64]
        include:

        # Raspberry Pi 32-bit (Arm), latest
        - arch: raspberry-pi-32
          cpu: cortex-a7
          # In the past we tried to use bullseye (older version, used on Raspberry Pi 4 by default).
          # But this no longer works, as
          # https://dietpi.com/downloads/images/DietPi_RPi-ARMv7-Bullseye.img.xz
          # is not available.
          # https://dietpi.com/#downloadinfo for RPi points to bookworm.
          #base_image: dietpi:rpi_armv7_bullseye
          base_image: raspios_lite:latest
          cpu_info: cpuinfo/raspberrypi_3b
          # os / cpu names following FPC conventions
          build_os: linux
          build_cpu: arm

        # Raspberry Pi 64-bit (Aarch64), latest
        - arch: raspberry-pi-64
          cpu: cortex-a53
          base_image: raspios_lite_arm64:latest
          cpu_info: cpuinfo/raspberrypi_zero2_w_arm64_w
          # os / cpu names following FPC conventions
          build_os: linux
          build_cpu: aarch64

    steps:
      - uses: actions/checkout@v6
      - uses: pguyot/arm-runner-action@v2
        with:
          base_image: ${{ matrix.base_image }}
          cpu: ${{ matrix.cpu }}

          shell: /bin/bash -eo pipefail
          image_additional_mb: 8000
          # Avoids the need for copy_artifact_path later.
          bind_mount_repository: true
          commands: |
            # Useful string to grep logs, because log of script execution is somewhat buried in the middle of pguyot/arm-runner-action log
            echo 'CGE script starts here'

            # Show system info
            uname -a
            if which lsb_release > /dev/null; then lsb_release -a; else echo "No lsb_release"; fi
            cat /proc/cpuinfo
            dpkg -l libc-bin

            # Install Linux dependencies
            sudo apt-get update
            sudo apt-get --no-install-recommends -y install libgl-dev git git-lfs make wget unzip sed zip libgtk2.0-dev

            # Set environment
            ARM_RUNNER_WORKSPACE=`pwd`
            export CASTLE_ENGINE_PATH=$ARM_RUNNER_WORKSPACE
            LAZARUS_DIR="/cge-work/lazarus/"
            export "PATH=${PATH}:/cge-work/installed/bin/:/cge-work/pasdoc/bin/:${LAZARUS_DIR}:/cge-work/fpc/bin"

            # Put various things like other projects (Lazarus and PasDoc and FPC)
            # and installed CGE binaries in directory /cge-work/,
            # outside of $CASTLE_ENGINE_PATH.
            #
            # Reason:
            # This way "make clean" and "pack_release.sh" cleanups in CGE
            # will not touch them.
            # Otherwise, our "pack_release.sh" would e.g. clean .res important
            # for Lazarus, causing later errors when building Lazarus packages:
            #   /castle-engine/lazarus/lcl/forms.pp(2440,1) Error: (9031) Can't open resource file "/castle-engine/lazarus/lcl/cursors.res"
            mkdir -p /cge-work/

            # Install FPC and Lazarus using https://github.com/castle-engine/castle-build-ci/
            cd /cge-work/
            git clone https://github.com/castle-engine/castle-build-ci.git \
              --depth=1 --single-branch --branch=master
            castle-build-ci/install_dependencies
            castle-build-ci/setup_castle_engine --install-castle-engine=false --install-lazarus=true
            setup_castle_engine_env.sh

            # check FPC_CPU and FPC_OS
            FPC_OS=`fpc -iTO`
            FPC_CPU=`fpc -iTP`
            if [ "${FPC_CPU}" != "${{ matrix.build_cpu }}" ]; then echo "FPC_CPU=${FPC_CPU} does not match matrix.build_cpu=${{ matrix.build_cpu }}"; exit 1; fi
            if [ "${FPC_OS}" != "${{ matrix.build_os }}" ]; then echo "FPC_OS=${FPC_OS} does not match matrix.build_os=${{ matrix.build_os }}"; exit 1; fi

            # Check versions (and availability) of our requirements early
            cd / # current dir should not matter below
            fpc -iV
            lazbuild --version
            make --version
            sed --version

            # Build Tools
            cd "${CASTLE_ENGINE_PATH}"
            rm -Rf /cge-work/installed/
            mkdir -p /cge-work/installed/
            make clean tools install PREFIX=/cge-work/installed/

            # Build Examples
            # Too slow on RPi
            # make clean examples CASTLE_CONSERVE_DISK_SPACE=true

            # Build And Run Auto-Tests
            make tests

            # Build Lazarus Packages
            lazbuild packages/lazarus/castle_engine_base.lpk
            lazbuild packages/lazarus/castle_engine_window.lpk
            lazbuild packages/lazarus/castle_engine_lcl.lpk
            lazbuild packages/lazarus/castle_engine_editor_components.lpk
            lazbuild packages/lazarus/alternative_castle_engine_window_based_on_lcl.lpk

            # Build and Install PasDoc
            cd /cge-work/
            wget https://github.com/pasdoc/pasdoc/archive/refs/heads/master.zip --output-document pasdoc-master.zip
            unzip pasdoc-master.zip
            mv pasdoc-master pasdoc
            make -C /cge-work/pasdoc/
            pasdoc --version # check it's OK

            # Pack Release
            cd "${CASTLE_ENGINE_PATH}"
            ./tools/internal/pack_release/pack_release.sh ${FPC_OS} ${FPC_CPU}

      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: raspberry-pi-${{ matrix.arch }}-release
          path: "castle-engine*.zip"
          if-no-files-found: error
