# ----------------------------------------------------------------------------
# GitHub Action workflow to make sure all examples are in correct state
# and examples_regenerate_auto_files does nothing.
# ----------------------------------------------------------------------------

name: Test Examples Are Up To Date

# Called by everything.yml
on: [workflow_call]
#on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  test_examples_up_to_date:
    name: Check examples_regenerate_auto_files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set environment
        run: echo "CASTLE_ENGINE_PATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        # make sure we have castle-engine on $PATH
      - name: Set environment PATH to include CGE installed/bin/
        run: echo "PATH=${PATH}:${CASTLE_ENGINE_PATH}/installed/bin/" >> $GITHUB_ENV
      - name: Build Tools
        run: |
          rm -Rf installed/
          mkdir -p installed/
          make clean tools install PREFIX=${CASTLE_ENGINE_PATH}/installed/
      - name: Run examples_regenerate_auto_files
        run: ./tools/internal/examples_regenerate_auto_files
      - name: Check no changes
        run: git diff -w --exit-code examples/
