# ----------------------------------------------------------------------------
# GitHub Action workflow to make sure all examples are in correct state
# and examples_regenerate_auto_files does nothing.
# ----------------------------------------------------------------------------

name: Test Examples Are Up To Date

# Called by everything.yml
on: [workflow_call]
#on: [push, pull_request]

defaults:
  run:
    shell: bash

# GitHub CodeQL recommends to explicitly set permissions for GITHUB_TOKEN.
# See https://docs.github.com/en/actions/tutorials/authenticate-with-github_token .
permissions:
  contents: read

jobs:
  test_examples_up_to_date:
    name: Check examples_regenerate_auto_files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install FPC
        run: |
          cd /tmp/
          git clone https://github.com/castle-engine/castle-build-ci.git --depth=1 --single-branch --branch=master
          castle-build-ci/install_dependencies
          castle-build-ci/setup_castle_engine --install-castle-engine=false

      # Build castle-engine and put it on $PATH
      - name: Set environment CASTLE_ENGINE_PATH
        run: echo "CASTLE_ENGINE_PATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Extend PATH to include CGE bin/
        run: echo "${CASTLE_ENGINE_PATH}/bin/" >> $GITHUB_PATH
      - name: Make Build Tool
        run: |
          ./tools/build-tool/castle-engine_compile.sh
          mkdir -p bin/
          mv -f tools/build-tool/castle-engine bin/

      # need to run "make prepare-examples" which creates some include files
      # like "examples/network/random_image_from_unsplash/code/unsplash_secrets.inc" .
      # Their existence changes what examples_regenerate_auto_files generates.
      - name: Prepare Examples
        run: make prepare-examples

      - name: Run examples_regenerate_auto_files
        run: ./tools/internal/examples_regenerate_auto_files

      - name: Check no changes
        run: git diff -w --exit-code examples/
